
main h1 {
    @include text-principales;
    text-align: center;
    color:$colorTextProduc;
    margin: 20px;

}


.card {
    background-color: rgb(0, 0, 0);
    color: rgb(228, 228, 18);
    text-align: center;

    h5 {
        font-size: 22px;
        margin: 10px;
    }
}


.card-img-top {
    height: 300px;
    
}


.card-body {
    p {
        color: aqua;
    }
}

.card {
    border-radius: 4px;

    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}