.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {

    color: white;
}

.fa-instagram {

    color: white;
}

.fa-whatsapp {

    color: white;
}


.redescontacto {
    padding-right: 21px;
}