* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar .navbar-nav .nav-link {
  color: #cee4d3;
  font-size: 1.4em; }

.navbar .navbar-nav .nav-link:hover {
  color: #e70e65; }

.navbar-light {
  background: linear-gradient(to right, #2338f5, #0b0127); }

main h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua;
  text-align: center;
  color: #095066;
  margin: 20px; }

.card {
  background-color: black;
  color: #e4e412;
  text-align: center; }
  .card h5 {
    font-size: 22px;
    margin: 10px; }

.card-img-top {
  height: 300px; }

.card-body p {
  color: aqua; }

.card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer; }

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

.maindescargas h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua; }

.maindescargas h2 {
  font-size: 30px;
  color: #17f1f1;
  text-align: center;
  padding-top: 40px; }

.maindescargas h3 {
  font-size: 25px;
  color: #17f1f1;
  text-align: center; }

button, .btn-primary {
  border: 0;
  border-radius: 15px;
  padding: 12px 10px;
  background-color: #aadfd1;
  margin: 8px; }
  button:hover, .btn-primary:hover {
    background-color: #25bdd8; }

.btn-primary {
  border-radius: 5px;
  background-color: #dd1f7e; }

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  color: white; }

.fa-instagram {
  color: white; }

.fa-whatsapp {
  color: white; }

.redescontacto {
  padding-right: 21px; }

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

.footercolor footer {
  background-color: #e4eee8; }

.colorfondo {
  background: linear-gradient(to right, #2338f5, #0b0127); }

.textcontac {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
